body{
background: #84d2e6;

transition: background 1s linear;
-webkit-transition: background 1s linear;
-moz-transition: background 1s linear;
height: 100%
}

.fandango-logo{
    text-align: center;
    padding-top: 6%;
    width: 100%;
}
.empty .error{
  display:none;
  color:blue;

}
.s004 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;

  font-family: 'Poppins', sans-serif;


  padding: 15px;

}

.no-focus-outline a:focus,
.no-focus-outline button:focus {
  outline: none;
}

.s004 form {
  width: 100%;
  max-width: 790px;
}

.s004 form legend {
  font-size: 36px;
  color: #373752;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}

.s004 form .inner-form {
  width: 100%;
  margin-bottom: 17px;
}

.s004 form .inner-form .input-field {
  width: 100%;
  position: relative;
}



.s004 form .inner-form .input-field .btn-search {
  width: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  align-items: center;
}

.s004 form .inner-form .input-field .btn-search svg {
  fill: #333;
  width: 40px;
  height: 40px;
  transition: all .2s ease-out, color .2s ease-out;
}



.s004 form .suggestion-wrap {
  padding: 0 15px;
}

.s004 form .suggestion-wrap span {
  font-size: 14px;
  font-family: 'Helvetica', sans-serif;
  display: inline-block;
  padding: 0 15px;
  line-height: 32px;
  color: #fff;
  border-radius: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.s004 input{
  padding: 10px 70px 10px 32px;
  font-size: 18px;
  border-radius: 34px;
  color: #666;
  background: #fff;
  min-height: 70px;

}
.feed .news {
    display: flex;
    border: 5px solid ;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    position:relative;
    cursor: pointer;
}
.feed .news .label {

    display: block;
    flex: 0 0 auto;
    align-self: stretch;
    width: 2.5rem;

}
.mdb-feed .news .label img {
    width: 100%;
    height: auto;
}
.z-depth-1-half {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important;
}
.rounded-circle {
    border-radius: 50%!important;
}
.feed .news .excerpt {
    display: block;
    flex: 1 1 auto;
    align-self: stretch;
    margin: 0 0 0 1.2rem ;
    word-wrap: break-word;
}
.feed .news .excerpt .brief {
    padding-bottom: .5rem;
    font-weight: 500;
}

.feed .news .excerpt .brief .name {
    display: inline-block;
    vertical-align: baseline;
}
.feed .news .excerpt .brief a {
    color: #1b95e0;
}
.feed .news .excerpt .brief .date {
    display: inline-block;
    float: none;
    padding-left: .7rem;
    font-size: .86rem;
    font-weight: 300;
    color: #9e9e9e;
}
.feed .news .excerpt .added-images img {
    display: inline-block;
    width: 7rem;
    margin-right: .3rem;
    margin-top: .3rem;

}
.feed .news .excerpt .feed-footer {
    margin-top: .3rem;

}
.feed .news .excerpt .feed-footer .like {
    font-size: .86rem;
    font-weight: 300;
    color: #9e9e9e;
}
.feed .news .excerpt .feed-footer .retweet {
    font-size: .86rem;
    font-weight: 300;
    margin-left: 1rem;
}
.feed .news .excerpt .feed-footer .followers {
    font-size: .86rem;
    font-weight: 300;
    margin-left: 1rem;
}
.feed .news .excerpt .feed-footer .following {
    font-size: .86rem;
    font-weight: 300;
    margin-left: 1rem;
}
.feed .news .excerpt .feed-footer .tweets {
    font-size: .86rem;
    font-weight: 300;
    margin-left: 1rem;
}

.feed .news .excerpt .feed-footer .feelings {
    font-size: .86rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-right: 1rem;
}
.feed .news .excerpt .feed-footer .subjectivity {
    font-size: .86rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-right: 1rem;

}
.feed .news .excerpt .feed-footer .sarcasm {
    font-size: .86rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-right: 1rem;
}
.feed .news .excerpt .feed-footer .polarity {
    font-size: .86rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-right: 1rem;
}
.feed .news .excerpt .feed-footer .context {
    font-size: .86rem;
    font-weight: 300;
}


.feed .news .excerpt .feed-footer .progress {
     width:100px;
     height:.86rem;
     display:inline-block;
     background-image: 
      linear-gradient(#fff,#fff),
      linear-gradient(to left, #3fffa2 0%, #3fffa2 50%,  #3fffa2 100% );
     background-size:var(--p,50%) 100%,100% 100%;
     background-position:right,left;
     background-repeat:no-repeat;
     border-radius: 3px;
     border: 1px solid;
}

.group0{
    border-color: #605770 !important
}
.group1{
    border-color: #264653 !important
}
.group2{
    border-color: #2a9d8f !important
}
.group3{
    border-color: #e9c46a !important
}

.group4{
    border-color: #ff4261 !important
}
.group5{
    border-color: #e76f51 !important
}
.group6{
    border-color: #9e7682 !important
}


.positive{
    background-color: #cfffcd;
}
.neutral{
    background-color: lightcyan;
}

.negative{
    background-color: lavenderblush;
}
.blur{
    background-color: rgba(1, 1, 1, 0.55); /* Color white with alpha 0.9*/
    z-index: 10;
    position: fixed;
    min-height: 100%;
      top: 0;
    left: 0;
    top:0;
    right: 0;
    width: 100%;
    height:100%;
    display: none
}
.highlighted{
    z-index: 11;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.results{
  display:none;
}
/* Tooltip container */
.annotation {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.annotation .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.annotation .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.annotation:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.feelings{
  display: flex;
  flex-direction:row;
}

/* Tooltip container */
.information {

  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}


/* Tooltip text */
.information .tooltiptext {
  visibility: hidden;
  width: 340px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.information .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 15%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.information:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.context .annotation{
  margin-left:1rem;
  margin-top:0.3rem;
}

a{
  color:#1b95e0;

}
.withheld{
  color: #C70039 ;
  margin-top: 0.3rem;
}